 /* INFO Section */

 .info_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}


.left_info_bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.left_info_bar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin: 5% auto;
    line-height: 1.6;
    color: var(--text-color);
}

.left_info_bar h2 {
    color: var(--text-color);
    font-size: 3rem;
}

.info_msg {
    color: var(--primary-color);
    ;
}

.right_info_bar {
    width: auto;
    margin-right: 5%;
    align-self:flex-start;
}

.right_info_bar img {
    height: 80vh;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 40px;
    box-shadow: 10px 15px 20px var(--text-color);
}

.consult_us_button a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    size-adjust: auto;
    border: none;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.consult_us_button a:hover {
    background-color: var(--primary-color);
}





/* Categories Section */
#categories {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}


.heading h3 {
    color: var(--text-color);
    font-size: 3rem;
    padding-top: 40px;
    padding-bottom: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Layout for the categories items */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}



.categories-item a {
    display: inline-grid;
    text-decoration: none;
    color: var(--bg-color);
    text-align: center;
    transition: transform 0.2s ease, color 0.2s ease;
    background-color: var(--accent-color);
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
}

/* Hover effect for categories-link */
.categories-item a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #ff660052; /* Add box shadow on hover */
}

.categories-icon {
    color: var(--bg-color);
    margin-bottom: 1rem;
    font-size: 4rem;
    /* Increase icon size */
}

/* Change icon color on hover */
.categories-item a:hover .categories-icon {
    color: var(--primary-color);
}

.categories-item h3 {
    font-size: 2rem;
    /* Increase heading size */
    font-weight: 700;
    margin-top: 1rem;
}
