/*General CSS*/
:root {
    --bg-color: #F3F3E0;
    --accent-color: #0a192c;
    --text-color:#1E3E62;
    --primary-color: #FF6500;
    --contrast-text-color: #fff;
}

.darkmode {
    --bg-color: #050d18;
    --accent-color: #F3F3E0;
    --text-color: #fff;
    --primary-color: #FF6500;
    --contrast-text-color: #000;
}

#theme-switch {
    height: 50px;
    width: 80px;
    padding: 0;
    border-radius: 50px / 50px; 
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--contrast-text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

/* Headings */
body {
    font-family: "Poppins", serif;
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}


/* Footer */
#footer {
    background-color: var(--accent-color);
    padding: 2%;
    text-align: center;
}

.footer-text {
    color: var(--contrast-text-color);
}



/* Containers */
.container-fluid {
    padding: 1%;
    background-color: var(--accent-color);
}

.main_container {
    min-height: 100vh;
    background-color: var(--bg-color);
}




/* Navigation Bar */
.navbar {
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    /* padding: 10px 20px; */
    /* Adjust the navbar padding */
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--bg-color);
    text-decoration: none;
    margin-left: 3%;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-brand:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}

.navbar-logo {
    height: 80px;
    width: auto;
}

.navbar-links {
    display: flex;
    margin-left: auto;
    align-items: center;
    /* Push the links to the right */
}

.nav-item {
    padding: 0 18px;
}

.nav-item a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    color: var(--bg-color);
    text-decoration: none;
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.nav-item a:hover {
    color: var(--primary-color);
}

/* Optional: Style for the active link */
.nav-item a.active {
    color: var(--primary-color);
}

/* Title */
#title {
    background-color: var(--text-color);
    color: var(--bg-color);
}


/* Buttons */
.bottom-container {
    display: flex;
    align-items: center;
    padding: 20px 20px 30px;
    background-color: var(--bg-color);
    justify-content: center;
}


.home-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    background-color: var(--accent-color);
    color: var(--bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.home-button:hover {
    background-color: var(--primary-color);
}

.btn_area {
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: var(--text-color);
    border-color: var(--text-color);
}