* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Headings */

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-weight: 700;
    font-size: 1.4rem;
}

p {
    color: #8f8f8f;
}







/* Containers */
.container-fluid {
    padding: 1%;
    background-color: #0a192c;
}

.main_container {
    min-height: 100vh;
    background-color: #F3F3E0;
}




/* Navigation Bar */
.navbar {
    background-color: #0a192c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.navbar-brand {
    font-size: 2rem;
    color: #F3F3E0;
    text-decoration: none;
    margin-left: 3%;
}

.navbar-logo {
    height: 80px;
    width: auto;
}

.navbar-links {
    display: flex;
    margin-left: auto;
}

.nav-item {
    padding: 0 18px;
}

.nav-item a {
    font-weight: 400;
    font-size: 1rem;
    color: #F3F3E0;
    text-decoration: none;
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

.nav-item a:hover {
    color: #FF6500;
}

/* Optional: Style for the active link */
.nav-item a.active {
    color: #FF6500;
}







/* Title */
#title {
    background-color: #1E3E62;
    color: #F3F3E0;
}






/* Categories Section */
#categories {
    color: #1E3E62;
    text-align: center;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories {
    text-align: center;
}

    .heading {
    padding-top: 40px;
}

.heading h3 {
    font-weight: 900;
    font-size: 3.5rem;
    padding-top: 40px;
}

/* Layout for the categories items */
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 2rem; /* Space between items */
}



.categories-item a {
    display: block;
    text-decoration: none;
    color: #FF6500;
    text-align: center;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* Hover effect for categories-link */
.categories-item a:hover {
    color: #1E3E62;
    transform: scale(1.1);
}

.categories-icon {
    color: #FF6500;
    margin-bottom: 1rem;
    font-size: 4rem; /* Increase icon size */
}

/* Change icon color on hover */
.categories-item a:hover .categories-icon {
    color: #1E3E62;
}

.categories-item h3 {
    font-size: 2rem; /* Increase heading size */
    font-weight: 700;
    margin-top: 1rem;
}







/* Footer */
#footer {
    background-color: #0a192c;
    padding: 5% 15%;
    text-align: center;
}

.footer-text {
    color: white;
}






/* About us page */
.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* flex-wrap: wrap; */
    background-color: #F3F3E0;
    min-height: 100vh;
}

.left_about_bar {
    width: 48%;
    background-color: #F3F3E0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.left_about_bar h2 {
    color: #1E3E62;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.left_about_bar p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #0B192C;
    margin-bottom: 20px;
}

.left_about_bar .brand_name {
    color: #FF6500;
    font-weight: 700;
}

.thanks_msg {
    color: #FF6500;
    font-style: italic;
}

.contact_us_button {
    margin-top: 30px;
}

.contact_us_button a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0a192c;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact_us_button a:hover {
    background-color: #1E3E62;
    border-color: #1E3E62;
    transform: scale(1.05);
}

.right_about_bar {
    width: 48%;
    text-align: center;
}

.right_about_bar img {
    max-width: 100%;
    height: 80vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Buttons */
.bottom-container {
    
    font-size: 1.1rem;
    text-align: center;
    padding: 20px 20px 30px;
    background-color: #F3F3E0;
}


.home-button {
    
    margin: 1%;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    background-color: #FF6500;
    color: #F3F3E0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.home-button:hover {
    background-color: #1E3E62;
}

.link-button {
    text-decoration: none; 
    color: #1E3E62; 
    padding: 8px 16px; 
    font-size: 1rem; 
    border: 2px solid transparent; 
    border-radius: 25px; 
    background-color: transparent; 
    transition: all 0.2s ease; 
}

.link-button:hover {
    color: #FF6500; 
    border-color: #FF6500; 
    background-color: transparent; 
}






/* Container for the entire product section */
.product-section {
    padding: 30px;
    text-align: center;
    background-color: #F3F3E0;
}

/* Style for the section heading */
.product-section h2 {
    margin-bottom: 3%;
    font-size: 2rem;
    color: #0B192C;
}

/* Flex layout for product items */
.product-list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

/* Individual product item styling */
.product-item {
    background-color: white;
    padding: 15px;
    border-radius: 9px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    width: 220px; /* Set a fixed width for uniformity */
    position: relative;
}

/* Hover effect for the entire product item */
.product-item:hover {
    transform: scale(1.05); 
}


/* Styling for product images */
.product-item img {
    width: 100%;
    max-width: 200px;
    transition: transform 0.2s ease;
    height: 150px;
}

/* Product title styling */
.product-item h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #0B192C;
}

/* Product description styling, positioned below each item */
.product-description {
    font-size: 0.9rem;
    color: #1E3E62 ;
    margin-top: 10px;
}

/* Product link styling */
.product-description a {
    color: #FF6500;
    text-decoration: none;
}

.product-description a:hover {
    text-decoration: underline;
}

.auth_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.auth_main_container h3 {
    font-weight: 700;
    color: #0a192c;
    margin-bottom: 20px;
}

.auth_area {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

.input_area {
    margin-bottom: 20px;
    text-align: left;
}

.input_area label {
    font-weight: 600;
    color: #555;
}

.input_field {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.input_field:focus {
    border-color: #FF6500;
    outline: none;
}

.account_prompt {
    margin-top: 20px;
    text-align: center;
}

.account_prompt p {
    font-size: 0.9rem;
    color: #555;
}

.account_prompt .signup-link {
    color: #FF6500; 
    text-decoration: none;
    font-weight: 600;
}

.account_prompt .signup-link:hover {
    color: #1E3E62; 
    text-decoration: underline; 
}

.shop_prompt {
    margin-top: 10px;
    text-align: center;
}

.shop_prompt p {
    font-size: 0.8rem;
    color: #555;
}

.shop_prompt .shop-link {
    color: #FF6500; /* Orange color for the link */
    text-decoration: none;
    font-weight: 600;
}

.shop_prompt .shop-link:hover {
    color: #1E3E62; /* Darker color when hovered */
    text-decoration: underline; /* Underline on hover */
}

.btn_area {
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    background-color: #0a192c;
    color: white;
    border: 1px solid #0a192c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: #1E3E62;
    border-color: #1E3E62;
}